<mat-card class="content-card" >
  <mat-card-title class="content-title">
    <mat-icon class="title-icon">school</mat-icon>
    Courses
    <a matTooltip="Add Course" class="create-button" mat-mini-fab color="accent" [routerLink]="['/courses', 'create']" routerLinkActive="active">
      <mat-icon aria-label="create new course">add</mat-icon>
    </a>
  </mat-card-title>

  <div class="container">

    <div class="table-container">
      <div class="table-loading-shade" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
      <mat-table #table [dataSource]="dataSource" class="table-striped">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID
            <app-input-filter [name]='"ID"' [title]='"ID"' [type]='"number"' (getData)='filterOut($event)'></app-input-filter>
          </mat-header-cell>
          <mat-cell *matCellDef="let col"> {{col.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name
            <app-input-filter [name]='"name"' [title]='"Name"' [type]='"string"' (getData)='filterOut($event)'></app-input-filter>
          </mat-header-cell>
          <mat-cell *matCellDef="let col"> {{col.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cover">
          <mat-header-cell *matHeaderCellDef> Cover </mat-header-cell>
          <mat-cell *matCellDef="let col"> {{col.cover }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description
            <app-input-filter [name]='"description"' [title]='"Description"' [type]='"string"' (getData)='filterOut($event)'></app-input-filter>
          </mat-header-cell>
          <mat-cell *matCellDef="let col"> {{col.description|truncate : 20 : false : '...' }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="created_at">
          <mat-header-cell *matHeaderCellDef> Created At
            <app-datetime-filter [name]='"created_at"' [title]='"Created At"' [type]='"date"' (getData)='filterOut($event)'></app-datetime-filter>
            <app-datetime-filter [name]='"to_created_at"' [title]='"Created At"' [type]='"date"' (getData)='filterOut($event)'></app-datetime-filter>
          </mat-header-cell>
          <mat-cell *matCellDef="let col"> {{col.created_at|dateTimeFormatShort}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="updated_at">
          <mat-header-cell *matHeaderCellDef> Updated At
            <app-datetime-filter [name]='"updated_at"' [title]='"Updated At"' [type]='"date"' (getData)='filterOut($event)'></app-datetime-filter>
          </mat-header-cell>
          <mat-cell *matCellDef="let col"> {{col.updated_at|dateTimeFormatShort}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action_column">
          <mat-header-cell *matHeaderCellDef class="action-column">
            <mat-icon>settings</mat-icon>
          </mat-header-cell>
          <mat-cell *matCellDef="let col" class="action-cell">
            <button mat-icon-button [routerLink]="['/courses/', col.id]">
              <mat-icon aria-label="view">view_list</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['/courses/update/', col.id]">
              <mat-icon aria-label="edit">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteCourse(col.name,col.id)">
              <mat-icon aria-label="Remove">close</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <app-pagination [IDs]='getIDs()' (page)="getCourses($event.lastId,$event.numOfItems,$event.direction)"></app-pagination>
  </div>
</mat-card>