<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar><span>Course Management</span></mat-toolbar>
    <mat-nav-list>
      <mat-list>
        <mat-list-item  class="mat-list-item" [routerLink]="['/courses']" routerLinkActive="active">
          <mat-icon class="title-icon">school</mat-icon> 
             All Courses 
        </mat-list-item>
        <mat-list-item [routerLink]="['/courses', 'create']" routerLinkActive="active">
            <mat-icon class="title-icon">school</mat-icon>
          Add Course 
        </mat-list-item>
        <mat-list-item [routerLink]="['/videos']" routerLinkActive="active">
           <mat-icon class="title-icon">camera</mat-icon>
           All Videos 
        </mat-list-item>
        <mat-list-item [routerLink]="['/videos', 'create']" routerLinkActive="active">
            <mat-icon class="title-icon">camera</mat-icon>
            Add Video 
        </mat-list-item>
        <mat-list-item [routerLink]="['/users']" routerLinkActive="active">
          <mat-icon class="title-icon">people</mat-icon>
          All users 
      </mat-list-item>
        <mat-list-item [routerLink]="['/users', 'create']" routerLinkActive="active">
          <mat-icon class="title-icon">people</mat-icon>
         Add User 
      </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
   
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
