<mat-card class="content-card">
  <mat-card-title class="content-title">
    <mat-icon class="title-icon">people</mat-icon>
    Users
    <a matTooltip="Add User" class="create-button" mat-mini-fab color="accent" [routerLink]="['/users', 'create']" routerLinkActive="active">
      <mat-icon aria-label="create new user">add</mat-icon>
    </a>
  </mat-card-title>

  <div class="container">
      <div class="table-container">
          <div class="table-loading-shade" *ngIf="loading">
            <mat-spinner></mat-spinner>
          </div>
    
    
          <mat-table #table [dataSource]="dataSource" class="table-striped">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> ID
                <app-input-filter [name]='"ID"' [title]='"ID"' [type]='"number"'></app-input-filter>
              </mat-header-cell>
              <mat-cell *matCellDef="let col"> {{col.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email
                  <app-input-filter [name]='"email"' [title]='"Email"' [type]='"string"'></app-input-filter>
                </mat-header-cell>
                <mat-cell *matCellDef="let col"> {{col.email}} </mat-cell>
              </ng-container>
            <ng-container matColumnDef="first_name">
              <mat-header-cell *matHeaderCellDef> First Name
                <app-input-filter [name]='"first_name"' [title]='"First Name"' [type]='"string"'></app-input-filter>
              </mat-header-cell>
              <mat-cell *matCellDef="let col"> {{col.first_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="last_name">
              <mat-header-cell *matHeaderCellDef> Last Name
                <app-input-filter [name]='"last_name"' [title]='"Last Name"' [type]='"string"'></app-input-filter>
              </mat-header-cell>
              <mat-cell *matCellDef="let col"> {{col.last_name }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="is_admin">
                <mat-header-cell *matHeaderCellDef> Is Admin
               
                </mat-header-cell>
                <mat-cell *matCellDef="let col"> 

                    {{col.is_admin }}
                </mat-cell>
              </ng-container>

            <ng-container matColumnDef="created_at">
              <mat-header-cell *matHeaderCellDef> Created At
                <app-group-datetime-filter [name]='"created_at"' [title]='"Created At"' [type]='"date"'></app-group-datetime-filter>
              </mat-header-cell>
              <mat-cell *matCellDef="let col"> {{col.created_at|dateTimeFormatShort}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="updated_at">
              <mat-header-cell *matHeaderCellDef> Updated At
                <app-group-datetime-filter [name]='"updated_at"' [title]='"Updated At"' [type]='"date"'></app-group-datetime-filter>
              </mat-header-cell>
              <mat-cell *matCellDef="let col"> {{col.updated_at|dateTimeFormatShort}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="action_column">
              <mat-header-cell *matHeaderCellDef class="action-column">
                <mat-icon>settings</mat-icon>
              </mat-header-cell>
              <mat-cell *matCellDef="let col" class="action-cell">
                <button mat-icon-button [routerLink]="['/users/', col.id]">
                  <mat-icon aria-label="view">view_list</mat-icon>
                </button>
                <button mat-icon-button [routerLink]="['/users/update/', col.id]">
                  <mat-icon aria-label="edit">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteUser(col.first_name,col.id)">
                  <mat-icon aria-label="Remove">close</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        <app-pagination [IDs]='getIDs()' (page)="getVideos($event.lastId,$event.numOfItems,$event.direction)"></app-pagination>
    </div>
</mat-card>